@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eee;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 300px;
}

h2 {
  font-family: ubuntu;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.label {
  display: flex;
  justify-content: center;
  font-family: poppins;
  font-size: .9rem;
  margin-bottom: 0.5rem;
}

label {
  font-family: poppins;
  margin-top: 0.5rem;
}

input[type=number] {
  width: 6ch;
  text-align: center;
}

input[type=range] {
  width: 75%;
  margin-left: .3rem;
}